# Ignore node_modules
node_modules/

# Ignore logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variables
.env

# Ignore build files
dist/
build/

# Ignore dependency directories
.DS_Store

# Ignore editor-specific files
.vscode/
.idea/
*.swp
