<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message board</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="/new" method="post" class="form-container">
        <h1>New message</h1>
        <label for="name">Name: <input type="text" name="authorName" id="name"></label>
        <label for="message">Message: <textarea name="messageText" id="message" rows="5" cols="33"></textarea></label>
        <button type="submit" class="submit-btn">submit</button>
    </form>
</body>
</html>