body {
    background-color: black;
    color: greenyellow;
    font-family: 'Courier New', Courier, monospace;
}

.form-container {
    width: 600px;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
}

.form-container input {
    margin: 5px 0;
    padding: 5px;
    width: 250px;
}

.msg-container {
    width: 600px;
    margin: 0 auto;
    border: 2px solid white;
    padding: 10px;
    justify-content: space-between;
}

.msg-box {
    max-width: 100%;
}

#user {
    font-weight: 700;
}

button {
    display: block;
    margin: 20px auto; 
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: greenyellow;
    border: none;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
}

.new-msg-btn a {
    text-decoration: none;
    color: greenyellow;
}
